
.sidebar-nav {
    margin-top: 200px;
    padding: 0;
    list-style: none;
    color: greenyellow;
    font-size: 15px;
}


body {
    background-color: rgb(158, 166, 235);
}

em {
    color: LightSeaGreen;
    font-size: 30px;
}

p {
    color: rgb(222, 22, 22);
    font-size: 20px;
}

table {
    width: 50%;
    /* border-collapse: collapse; */
    border: 1px solid black;
}

th {
    height: 70px;
}

td {
    height: 30px;
    text-align: right;
}
