<!DOCTYPE html>
<html>

<head>
    {% block title %}
    <title>Django Demonstration Preview</title>
    {% endblock title %}
</head>

<body>
    {% block sidebar %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <ul class="sidebar-nav">
        <li><a href="{% url 'home' %}" class ="p">Home</a></li>
        <li><a href="{% url 'pm' %}" class = "em">Pokemon</a></li>
        <li><a href="{% url 'ac' %}">Animal Crossing</a></li>
    </ul>
    {% endblock %}

    {% block content %}
    <h1>base generic</h1>
    {% endblock %}
</body>



</html>