{% extends "base_generic.html" %}
<!DOCTYPE html>
<html>

<head>
    {% block title %}
    <title>Django Preview</title>
    {% endblock %}
</head>

{% block content %}

<body>
    <!-- {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}"> -->
    <h1>Hello World!</h1>
    <em>Current Time: {{ current_time }}</em>
    <p class ="p">This is Django demonstration.</p>
    <div>
        <p class ="em">Django Reference</p>
        <span class ="em">Django notes</span>
    </div>
    <p>{{ link }}</p>
    <h1  class ="em">Pokemon Type</h1>
    <table>
        <thead>
            <tr>
                <th>攻\防</th>
                <th>一般</th>
                <th>格鬥</th>
                <th>飛行</th>
                <th>毒</th>
                <th>地面</th>
                <th>岩石</th>
                <th>蟲</th>
                <th>幽靈</th>
                <th>鋼</th>
                <th>火</th>
                <th>水</th>
                <th>草</th>
                <th>電</th>
                <th>超能力</th>
                <th>冰</th>
                <th>龍</th>
                <th>惡</th>
                <th>妖精</th>
            </tr>
        </thead>
        <tbody>
            {% for tp in pm_show %}
            <tr>
                <td>{{ tp.屬性相剋表 }}</td>
                <td>{{ tp.一般 }}</td>
                <td>{{ tp.格鬥 }}</td>
                <td>{{ tp.飛行 }}</td>
                <td>{{ tp.毒 }}</td>
                <td>{{ tp.地面 }}</td>
                <td>{{ tp.岩石 }}</td>
                <td>{{ tp.蟲 }}</td>
                <td>{{ tp.幽靈 }}</td>
                <td>{{ tp.鋼 }}</td>
                <td>{{ tp.火 }}</td>
                <td>{{ tp.水 }}</td>
                <td>{{ tp.草 }}</td>
                <td>{{ tp.電 }}</td>
                <td>{{ tp.超能力 }}</td>
                <td>{{ tp.冰 }}</td>
                <td>{{ tp.龍 }}</td>
                <td>{{ tp.惡}}</td>
                <td>{{ tp.妖精 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}

</html>