{% extends "base_generic.html" %}
{% block content %}
<body>
    <p>testt</p>
    <p>{{ link }}</p>
    <div>參考網站</div>
    <li><a href="https://wiki.52poke.com/zh-hant/%E4%B8%BB%E9%A1%B5" target="_blank">神奇寶貝百科</a></li>
    <li><a href="http://jimmypm.ehosting.com.tw/" target="_blank">Jimmy的神奇寶貝之家</a></li>
    <h1>Pokemon Type</h1>
    <table>
        <thead>
            <tr>
                <th>攻\防</th>
                <th>一般</th>
                <th>格鬥</th>
                <th>飛行</th>
                <th>毒</th>
                <th>地面</th>
                <th>岩石</th>
                <th>蟲</th>
                <th>幽靈</th>
                <th>鋼</th>
                <th>火</th>
                <th>水</th>
                <th>草</th>
                <th>電</th>
                <th>超能力</th>
                <th>冰</th>
                <th>龍</th>
                <th>惡</th>
                <th>妖精</th>
            </tr>
        </thead>
        <tbody>
            {% for tp in pm_show %}
            <tr>
                <td>{{ tp.屬性相剋表 }}</td>
                <td>{{ tp.一般 }}</td>
                <td>{{ tp.格鬥 }}</td>
                <td>{{ tp.飛行 }}</td>
                <td>{{ tp.毒 }}</td>
                <td>{{ tp.地面 }}</td>
                <td>{{ tp.岩石 }}</td>
                <td>{{ tp.蟲 }}</td>
                <td>{{ tp.幽靈 }}</td>
                <td>{{ tp.鋼 }}</td>
                <td>{{ tp.火 }}</td>
                <td>{{ tp.水 }}</td>
                <td>{{ tp.草 }}</td>
                <td>{{ tp.電 }}</td>
                <td>{{ tp.超能力 }}</td>
                <td>{{ tp.冰 }}</td>
                <td>{{ tp.龍 }}</td>
                <td>{{ tp.惡}}</td>
                <td>{{ tp.妖精 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}